@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


:root{
  --background: #ffffff;
  --foreground: #171717;

}
.dark{
   --foreground: #ffffff;
   --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg1: oklch(0.9342 0.0245 71.46);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-circle: var(--font-geist-pixel-circle);

}

@theme{

  --animate-marque: marque 30s linear infinite;

@keyframes marque  {

  from{
  transform: translateX(100%)
  }
  to {
    transform: translateX(-100%);
  }
}

}

